body {
  text-align: center;
  background-color: rgb(150, 200, 255);
}

div {
  margin-top: 5px;
}


.tester {
  display: flex;
  justify-content: center;
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

#myDiv{
    width: 50%;
    height: 90%;
    float: left;
    block-size: 720px;
}

#myDiv1{
    margin-left: 50%;
    height: 90%;
    //float: left;
    block-size: 680px;
}

#myDiv2{
    width:10%,
    margin-left: 40%;
    height: 90%;
    float: center;
    block-size: 680px;
}

.new-words button {
  position: absolute right;
  display: inline-block; /* Make the buttons appear below each other */


